<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.iconfont %>">
</head>

<body>
    <div id="app"></div>
    <script>
      #if(!$isScanPay)
        var isScanPay = false;
      #else
        var isScanPay = $!isScanPay;
      #end

      var openId = '$!openId';
      var orderId = '$!orderId';
      var result = '$!result';
      var router = '$!router';
      var payWay = '$!payWay';
    </script>
</body>

</html>

